/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  :root{

        --primary-color:  black;
        --second-color : #dcdcdd;
        --shadow-color : rgba(180, 178, 178, 0.2);
        background-color: #F3F4F6;
        --form-control-color: rebeccapurple;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    font-family: 'Roboto' , sans-serif;
    color: black;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 2rem
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  a, a *, button, button * {
    cursor: pointer;
    transition: var(--fast-transition);
}
li{
  list-style: none;
}
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


 

  .sidebar {
    background-color: var(--second-color);
  }
  .sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    

  }

  .sidebar button {
    outline: none;
    border: none;
    border-radius: 2em;
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,0);
    color: var(--primary-color);
    font-size: 1.2rem;
  }

  .sidebar button:hover {
    background-color: rgba(180, 178, 178, 0.2);
  }
  .content{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    padding-top: 5rem;
  }

  h1 {
    font-size: 2rem;
    margin-top: 4rem;
  }

  p{
    font-size: 1rem;
  }

  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }

  a:hover {
        color: var(--second-color);
  }


  .github {
    height: 100%;
    width: 2rem;
    
  }
  
  .github path {
    fill: var(--primary-color);
  }

  .github:hover path {
    fill: rgb(255, 139, 6);
  }

  .tasks {
    width: 80%;
  }

  .task {
  
   
    width: 100%;
    padding: 1rem;
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--second-color);
  }

  .task-list {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .task:hover{
    cursor: pointer;
    background-color: var(--second-color);
  }

  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.5em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
  input[type="checkbox"]:hover{
    cursor: pointer;
  }
  
  
  
  .completed {
    
    color: gray;
    text-decoration: line-through;
  }

  .modal .hidden {
    display: none;
  }

  @media (max-width: 500px) {
    .content {
        margin: 0 auto;
        width: 23rem;
        justify-content: center;
    }
     h1{
        font-size: 1.3rem;

     }

     p {
        width: 70%;
        font-size: .7rem;
        text-align: center;
     }
    .sidebar nav{
        align-items: center;
        justify-content: center;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        
    
      }
      nav button {
        padding: 0;
      }
  }
  
  @media (max-width: 400px) {
    .content {
      width: 20rem;
      
    }

    .menu-page{
      margin-top: 4rem;
    }
  }