/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  :root{

        --primary-color:  black;
        --second-color : #dcdcdd;
        --shadow-color : rgba(180, 178, 178, 0.2);
        background-color: #F3F4F6;
        --form-control-color: rebeccapurple;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;

    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    font-family: 'Roboto' , sans-serif;
    color: black;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 6fr;
    gap: 2rem
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  a, a *, button, button * {
    cursor: pointer;
    transition: var(--fast-transition);
}
li{
  list-style: none;
}
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .header {
    height: 15rem;
    grid-column: 2/-1;
    grid-row: 1/2;
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
 

  .sidebar {
    background-color: var(--second-color);
    grid-column: 1/-2;
    grid-row: 1/3;
  }
  .sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    

  }

  button {
    outline: none;
    border: none;
    border-radius: 1em;
    font-size: 1.2rem;
    color: black;
  }

  .task-button-container button {
   
   
  
    color: white;
   
  }
  .task-button-container .details-button {
    background-color: rgb(0, 141, 0);
    

  }
  .task-button-container .details-button:hover {
    background-color: rgb(6, 202, 6);
  }

  .task-button-container .edit-button {
    background-color: rgb(255, 187, 0);
  }

  .task-button-container .edit-button:hover {
    background-color: hsl(46, 100%, 60%);
  }

  .task-button-container .delete-button {
    background-color: hsl(12, 100%, 50%);
  }

  .task-button-container .delete-button:hover {
    background-color: hsl(12, 100%, 70%);
  }

   button:hover {
    background-color: rgba(180, 178, 178, 0.2);
  }
  .content{
    grid-column: 2;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2rem;
   
  }

  h1 {
    font-size: 2rem;
    margin-top: 4rem;
  }

  p{
    font-size: 1rem;
  }

  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }

  a:hover {
        color: var(--second-color);
  }


  .github {
    height: 100%;
    width: 2rem;
    
  }
  
  .github path {
    fill: var(--primary-color);
    margin: 0 auto;
  }

  .github:hover path {
    fill: rgb(255, 139, 6);
  }

  .tasks {
    width: 80%;
  }

  .project {
    width: 90%;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(108, 108, 247);
    background-color: rgb(209, 209, 241);


 
    /* "flex",
                            "items-center",
                            "p-4",
                            "text-lg",
                            "h-[50px]",
                            "cursor-pointer",
                            "text-gray-700",
                            "font-medium",
                            "rounded-md",
                            "hover:bg-blue-100",
                            "hover:text-blue-600",
                            "transition",
                            "duration-200",
                            "border",
                            "border-blue-200",
                            "shadow-sm",
                            "hover:shadow-md" */
  }

  .project:hover {
    background-color: rgb(172, 172, 247);
  }
  .task-container {
    width: 90%;
    background-color: rgb(228, 228, 238);
    border-radius: .5em;
  }
  .task {
  
   
    width: 100%;
    padding: 1rem;
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--second-color);
  }

  .task-list {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .task:hover{
    cursor: pointer;
    background-color: var(--second-color);
  }

  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.5em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
  input[type="checkbox"]:hover{
    cursor: pointer;
  }
  .task-button-container {
    display: flex;
    gap: .5rem;
  }
  
  
  .completed {
    
    color: gray;
    text-decoration: line-through;
  }

  .hidden {
    display: none;
  }
  .red-border {
    border-left: .4em solid red;
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
  }


  .yellow-border {
    border-left: .4em solid yellow;
  }

  .green-border {
    border-left: .4em solid green;
  }
  
  .gray-border {
    border-left: gray;
  }


  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2em;
    align-items: center;
    padding-top: 4rem;
    font-size: 1.3rem;
    
  }


  .modal{
    display :flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    inset: 0;
   
  }
  .modal-backdrop{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.2);
  }

  .modal-container {
    position: relative;
    background-color: white;
    width: 20rem;
    height: 24rem;
    padding: 1rem;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: .5em;

  }
  .modal.hidden {
    display: none;
  }
  .close-button{
    position: absolute;
    margin-top: 1rem;
    top: 0;
    right: 1;
    
    /* absolute top-2 right-2 text-gray-500 hover:text-black */
  }

  form {
    display: flex;
    flex-direction: column;
    gap: .5rem;

  }
  .flex {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;

  }
  form textarea {
    height: 3rem;
  }
  @media (max-width: 500px) {
    .content {
        margin: 0 auto;
        width: 23rem;
        justify-content: center;
    }
     h1{
        font-size: 1.3rem;

     }

     p {
        width: 70%;
        font-size: .7rem;
        text-align: center;
     }
    .sidebar nav{
        align-items: center;
        justify-content: center;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        
    
      }
      nav button {
        padding: 0;
      }
  }
  
  @media (max-width: 400px) {
    .content {
      width: 20rem;
      
    }

    .menu-page{
      margin-top: 4rem;
    }
  }